
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* I can't think of a good container name, for now this is enough. */
.big-container {
  width: 100%;
  margin: 0;
  padding: 16px 48px 48px 48px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/*  ////////// HEADER SECTION ////////// */
.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-evenly;
}

.links,
.secondary-hero {
  font-size: 18px;
  color: #E5E7EB;
}

.logo-links {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.logo {
  /* font-size: 24px; */
  /* color: #F9FAF8; */
  /* font-weight: 900; */
  width: auto;
  height: 33px;
  border-radius: 7px 7px;
  box-shadow: 7px 7px;
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.links a {
  text-decoration: none;
  color: #E5E7EB;
}


/*  ////////// HERO SECTION ////////// */
.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 900px;
}

/* CONTAINER FOR HERO-TEXT, SECONDARY-HERO AND SUBSCRIBE */
.hero-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 900px;
  gap: 12px;
}
 
.hero-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.placeholder {
  height: 217px;
  width: 600px;
  border-radius: 5px;
}

.hero-subscribe {
  cursor: pointer;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
}

/*  ////////// CONTENT SECTION ////////// */

.content {
  display: flex;
  flex-direction: column;
}

/*  ////////// INFORMATION SUB-SECTION ////////// */
.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  padding: 38px 10px 48px 10px;
}

/* I'll probably add a short description under this*/
.about-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 33px;
  justify-content: center;
}

.description {
  text-align: center;
  padding-left: 48px;
  padding-right: 48px;
  max-width: 600px;
}

.info {
  max-width: 150px;
  text-align: center;
}

.info img {
  height: auto;
  width: 100px;
}

/*  ////////// QUOTE SUB-SECTION ////////// */

.quote {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 100px 200px 100px 200px;
}

.quote-itself {
  text-align: justify;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

/*  ////////// CALL-TO-ACTION SUB-SECTION ////////// */

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; 
  padding-bottom: 60px;; 
}

.call-to-action-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882F6;
  border-radius: 8px;
  padding: 22px 15px 22px 33px;
  width: 900px;
  gap: 100px;
}

.call-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.its-time {
  font-size: 18px;
  color: #F9FAF8;
  font-weight: 700;
}

.call-text-container p {
  color: #F9FAF8;
}

.signup-call-action {
  background-color: #3882F6;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #F9FAF8;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

/*  ////////// CONTENT SECTION ////////// */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding-top: 33px;
  padding-bottom: 33px;
  font-size: 12px;
  color: #F9FAF8;
  /* font-weight: 900; */
}
